.requests {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}

.surveys-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.example-card {
    max-width: 30vh;
    margin: 5vh;
}
