<div class="requests">
  <div>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Недавние анкеты:</h1>
      
      </div>
      <mat-divider></mat-divider>
      <div class="surveys-container">
          <mat-card class="example-card" *ngFor="let item of surveysToDiplay; let i = index" (dblclick)="routeToSurvey(item.id)">
              <mat-card-header>
                <mat-card-title>{{item.form.name}}
                  <button mat-icon-button *ngIf="!item.completed && router.url == '/admin/surveys'" (click)="recall(item)"><mat-icon>delete</mat-icon></button>
                </mat-card-title>
              </mat-card-header>
              <img mat-card-image src="assets/images/document.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  <label>Город: </label>
                  <label>{{item.cityName}}</label>
                </p>
                <p >
                  <label>Дата назначения: </label>
                  <label>{{item.appointmentDate| date : "EE, d MMMM H:mm"}}</label>
                </p>
                <p *ngIf="!item.completed">
                  <label>Дата начала: </label>
                  <label>{{item.startDate | date : "EE, d MMMM H:mm"}}</label>
                </p>
                <p *ngIf="!item.completed">
                  <label>Дата окончания: </label>
                  <label>{{item.endDate | date : "EE, d MMMM H:mm"}}</label>
                </p>
                <p *ngIf="item.completed">
                  <label>Дата прохождения: </label>
                  <label>{{item.completionDate | date : "EE, d MMMM H:mm"}}</label>
                </p>
              </mat-card-content>
              <mat-card-actions align="end" *ngIf="router.url == '/admin/surveys'">
                <button mat-button (click)="report(item)" download>Отчёт</button>
                <button mat-button *ngIf="item.completed" (click)="extend(item)">Продлить</button>
                <button mat-button *ngIf="item.completed" (click)="revision(item)">На доработку</button>
              </mat-card-actions>
            </mat-card>
      </div>
  </div>
  <div class="laborants-applications">
      
  </div>
  <footer style="height: 25px;">

  </footer>
</div>