<div class="requests">
    <div class="active-requests">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h1>Недавние формы:</h1>
        <button mat-icon-button routerLink="/form/create">
          <mat-icon>add</mat-icon>
        </button>
        </div>
        <mat-divider></mat-divider>
        <div class="requests-container">
            <mat-card class="example-card" *ngFor="let item of forms; let i = index" (dblclick)="routeToForm(item.id)">
                <mat-card-header>
                  <mat-card-title>{{item.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/document.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    <label>Дата создания: </label>
                    <label>{{item.creationDate | date : "EE, d MMMM H:mm"}}</label>
                  </p>
                  <p>
                    <label>Дата изменения: </label>
                    <label>{{item.modifiedDate | date : "EE, d MMMM H:mm"}}</label>
                  </p>
                </mat-card-content>
                <mat-card-actions align="end" *ngIf="authService.isAdmin">
                  <button mat-button (click)="report(item)">Отчёт</button>
                  <button mat-button (click)="openSelectMunicipalityDialog(item.id)">Отправить</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div class="laborants-applications">
        
    </div>
    <footer style="height: 25px;">

    </footer>
</div>